

        

<section>
    <div class="container"> 
        <div class="">
            <a href="/admin/add-banner" class="btn btn-success mt-5">Add Banner</a>
        </div>
        <table class="table mt-5 display" id="bannerTable">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Discription</th>
                    <th scope="col">Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each banner}}
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td>{{this.name}} </td>
                    <td>{{this.description}} </td>
                    <td><img src="/banner-images/{{this._id}}.jpg" style="width:100px;"></td>
                    <td>                           
                      <a href="/admin/editbanner/{{this._id}}" class="btn btn-primary">Edit</a>
                      <a href="/admin/deletebanner/{{this._id}}" class="btn btn-danger"
                      onclick="return confirm('Are you sure to Delete {{this.name}}?')">Delete</a>
                     </td>
                </tr>

                                         
                {{/each}}
            </tbody>
        </table>
    </div>

</section>

{{!--  --}}

<script>
    $(document).ready(function () {


        $('#bannerTable').wrap('<div id="hide" style="display:none"/>');

        $('#hide').css('display', 'block');
    });


    var table = $('#bannerTable').DataTable();
</script>

