<div class="container">
  <article class="card">
    <header class="card-header"> My Orders / Tracking </header>
    <div class="card-body">

      <h6>Order ID : {{products.0._id}}</h6>
      <article class="card">
        <div class="card-body row">
          <div class="col">
            <strong>Estimated Delivery time:</strong>
            <br />{{products.0.delivaryAddress.date}}
          </div>
          <div class="col">
            <strong>Shipping BY:</strong>
            <br />
            BLUEDART, |
            <i class="fa fa-phone"></i>
            +1598675986
          </div>
          <div class="col">
            <strong>Status:
            </strong>
            <br />delivarystatus :
            {{products.0.Status}}<br />
            status :
            {{products.0.Status}}</div>
          {{#when products.0.Status "eq" "Deliverd"}}
            <div class="col">
              <strong>Tracking #:</strong>
              <br />
              BD045903594059
            </div>
            <div class="col">
              <a
                class="btn btn-lg"
                href="/invoice/{{products.0._id}}/{{products.0.item}}"
              ><a
                  href="/invoice/{{products.0._id}}/{{products.0.item}}"
                  class="text-decoration-none invoice-link"
                >View Invoice</a>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-download"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
                  ></path>
                  <path
                    d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
                  ></path>
                </svg></a></div>
          {{/when}}
          {{#when products.0.Status "eq" "Cancelled"}}
            <div><h5 class="text-danger">Order cancelled </h5></div>
          {{/when}}

        </div>
      </article>
      <div class="track">

        {{#when products.0.Status "eq" "pending"}}
          <div class="step active">
            <span class="icon"> <i class="fa fa-check"></i> </span>
            <span class="text">order pending</span>
          </div>
          <div class="step">
            <span class="icon"> <i class="fa fa-truck"></i> </span>
            <span class="text">Order placed</span>
          </div>
          <div class="step">
            <span class="icon"> <i class="fa fa-check"></i> </span>
            <span class="text">Order shipped</span>
          </div>
          <div class="step">
            <span class="icon"> <i class="fa fa-user"></i> </span>
            <span class="text"> Deliverd</span>
          </div>

        {{/when}}

        {{#when products.0.Status "eq" "Placed"}}
          <div class="step active">
            <span class="icon"> <i class="fa fa-check"></i> </span>
            <span class="text">order pending</span>
          </div>
          <div class="step active">
            <span class="icon"> <i class="fa fa-truck"></i> </span>
            <span class="text">Order placed</span>
          </div>
          <div class="step">
            <span class="icon"> <i class="fa fa-check"></i> </span>
            <span class="text">Order shipped</span>
          </div>
          <div class="step">
            <span class="icon"> <i class="fa fa-user"></i> </span>
            <span class="text"> Deliverd</span>
          </div>

        {{/when}}

        {{#when products.0.Status "eq" "Shipped"}}
          <div class="step active">
            <span class="icon"> <i class="fa fa-check"></i> </span>
            <span class="text">order pending</span>
          </div>
          <div class="step active">
            <span class="icon"> <i class="fa fa-truck"></i> </span>
            <span class="text">Order placed</span>
          </div>
          <div class="step active">
            <span class="icon"> <i class="fa fa-check"></i> </span>
            <span class="text">Order shipped</span>
          </div>
          <div class="step">
            <span class="icon"> <i class="fa fa-user"></i> </span>
            <span class="text"> Deliverd</span>
          </div>

        {{/when}}

        {{#when products.0.Status "eq" "Deliverd"}}
          <div class="step active">
            <span class="icon"> <i class="fa fa-check"></i> </span>
            <span class="text">order pending</span>
          </div>
          <div class="step active">
            <span class="icon"> <i class="fa fa-truck"></i> </span>
            <span class="text">Order placed</span>
          </div>
          <div class="step active">
            <span class="icon"> <i class="fa fa-check"></i> </span>
            <span class="text">Order shipped</span>
          </div>
          <div class="step active">
            <span class="icon"> <i class="fa fa-user"></i> </span>
            <span class="text"> Deliverd</span>
          </div>

        {{/when}}

        {{#when products.0.Status "eq" "Cancelled"}}
          <div class="step">
            <span class="icon"> <i class="fa fa-check"></i> </span>
            <span class="text">order pending</span>
          </div>
          <div class="step">
            <span class="icon"> <i class="fa fa-truck"></i> </span>
            <span class="text">Order placed</span>
          </div>
          <div class="step">
            <span class="icon"> <i class="fa fa-check"></i> </span>
            <span class="text">Order shipped</span>
          </div>
          <div class="step">
            <span class="icon"> <i class="fa fa-user"></i> </span>
            <span class="text"> Deliverd</span>
          </div>

        {{/when}}

      </div>
      <hr />

      <div class="row">
        <div class="col-md-5">
          <ul class="row">

            <li class="">
              <figure class="itemside mb-3">
                <div class="width"><img
                    src="/product-images/{{products.0.product._id}}.jpg"
                    class="dd"
                  /></div>
                <figcaption class="info align-self-center">
                  <h5 class="title">{{result.name}}
                    <br /><br />
                    Price :
                    {{products.0.product.price}}</h5>
                  <span class="text-muted">
                    Quantity :{{products.0.qty}}
                  </span>
                  {{#if products.0.discount}}
                    <h5>Discount:{{products.0.discount}}</h5>
                    <h5>Total : {{products.0.finaltotal}}</h5>
                  {{else}}
                    <h5> Total : {{products.0.total}}</h5>
                  {{/if}}
                </figcaption>
              </figure>
            </li>

          </ul>
        </div>
        <div class="col-md-4 ml-5 align-self-center" >
          <h4>delivary Address</h4>
          <br /><br />
          <h5>Name : {{products.0.delivaryAddress.name}}</h5>
          <h6> Address : {{products.0.delivaryAddress.address}}</h6>
          <h6>Phone No: {{products.0.delivaryAddress.phone}}</h6>
          <h6> pincode : {{products.0.delivaryAddress.pincode}}</h6>
          <h6> City : {{products.0.delivaryAddress.city}}</h6>
          <h6> State : {{products.0.delivaryAddress.state}}</h6>
          <h6> Date : {{products.0.delivaryAddress.date}}</h6>

        </div>
      </div>

      {{#when products.0.Status "noteq" "Cancelled"}}{{"and"}}{{#when
          products.0.Status
          "noteq"
          "Deliverd"
        }}
          <div class="aaa">

            <a
              href="/cancelOrder/{{products.0._id}}/{{products.0.item}}"
              data-abc="true"
              class="btn btn-danger"
            >Cancel Order<i class="fa fa-chevron-right"></i></a>

          </div>
        {{/when}}{{/when}}

    </div>
  </article>
</div>

<style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
  body { background-color: #eeeeee; font-family: 'Open Sans', serif } .container
  { margin-top: 50px; margin-bottom: 50px } .card { position: relative; display:
  -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient:
  vertical; -webkit-box-direction: normal; -ms-flex-direction: column;
  flex-direction: column; min-width: 0; word-wrap: break-word; background-color:
  #fff; background-clip: border-box; border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.10rem } .card-header:first-child { border-radius:
  calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0 } .card-header { padding: 0.75rem
  1.25rem; margin-bottom: 0; background-color: #fff; border-bottom: 1px solid
  rgba(0, 0, 0, 0.1) } .track { position: relative; background-color: #ddd;
  height: 7px; display: -webkit-box; display: -ms-flexbox; display: flex;
  margin-bottom: 60px; margin-top: 50px } .track .step { -webkit-box-flex: 1;
  -ms-flex-positive: 1; flex-grow: 1; width: 25%; margin-top: -18px; text-align:
  center; position: relative } .track .step.active:before { background: #FF5722
  } .track .step::before { height: 7px; position: absolute; content: ""; width:
  100%; left: 0; top: 18px } .track .step.active .icon { background: #ee5435;
  color: #fff } .track .icon { display: inline-block; width: 40px; height: 40px;
  line-height: 40px; position: relative; border-radius: 100%; background: #ddd }
  .track .step.active .text { font-weight: 400; color: #000 } .track .text {
  display: block; margin-top: 7px } .itemside { position: relative; display:
  -webkit-box; display: -ms-flexbox; display: flex; width: 100% } .itemside
  .aside { position: relative; -ms-flex-negative: 0; flex-shrink: 0 } .img-sm {
  width: 80px; height: 80px; padding: 7px } ul.row, ul.row-sm { list-style:
  none; padding: 0 } .itemside .info { padding-left: 15px; padding-right: 7px }
  .itemside .title { display: block; margin-bottom: 5px; color: #212529 } p {
  margin-top: 0; margin-bottom: 1rem } .btn-warning { color: #ffffff;
  background-color: #ee5435; border-color: #ee5435; border-radius: 1px }
  .btn-warning:hover { color: #ffffff; background-color: #ff2b00; border-color:
  #ff2b00; border-radius: 1px }

</style>