
         <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>wishlist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Section Begin -->
    {{#if product}}
    <section class="shop spad">
        <div class="container">
            <div class="row">
               
               {{#each product}}
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                 <div class="product__item">
                            <div class="product__item__pic set-bg"
                                data-setbg="/product-images/{{this.product._id}}.jpg">
                                <div class="label new">New</div>
                                <ul class="product__hover">
                                    <li><a href="/product-details?id={{this.product._id}}"class="heart_alt"><span
                                            class="arrow_expand"></span></a></li>
                                    <li><a href="/deleteWishlistProduct/{{this._id}}/{{this.product._id}}"><span class="icon_close"></span></a></li>
                                    <li><a onclick="addToCart('{{this.product._id}}')" ><span class="icon_bag_alt"></span></a></li>

                                    {{!-- <div><button onclick="addToCart('{{this.product._id}}')" class="btn btn-success">add to cart</button></div> --}}
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">{{this.product.description}}</a></h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">{{this.product.price}}</div>
                               

                            </div>
                        </div>
               
            </div>
            {{/each}}
            </div>
        </div>
    </section>
    {{else}}
<section class="shop-cart spad">
    <div class="container" style=" width:400px ; height:400px ;">
        <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSESgYzyJ3IcMld9nZdCsiFO3_6DehYutJB2g&usqp=CAU" alt="">
    </div>
</section>
{{/if}}
    <!-- Shop Section End -->


    
<script>
   function addToCart(proId){
    $.ajax({
        url:'/add-to-cart/'+proId,
        method:'get',
        success:(response)=>{
            if(response.status){
                let count=$('#cart-count').html()
                count=parseInt(count)+1
                $('#cart-count').html(count)
            }
        }
    })
   }
</script>